/* NAV BAR */

body {
    background-color: #f4f4ca;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
header {
    background-color: #f8bdbd;
}
.header {
    text-align: center;
    background-color: #f25694;
}

.navbar ul {
    list-style-type: none;
    background-color: #f8bdbd;
    overflow: hidden;
    margin: 0;
}

.navbar a{
    color: black;
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;
}

.navbar{
    min-height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 24px;

}
.navbar a:hover{
    background-color: #f3a3a3;
}

.navbar li{
    list-style: none;
}

.nav-menu { 
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
    z-index: 10;
}

.nav-branding {
    font-size: 2rem;
}


.nav-link { 
    transition: 0.7s ease;
}

.nav-link:hover { 
    color: white;
}

.hamburger {
    display: none;
    cursor: pointer;
}

.bar { 
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: white;
}

@media(max-width:786px) {
    .hamburger{
        display: block;
    }

    .hamburger.active .bar:nth-child(2){
        opacity: 0;
    }
    .hamburger.active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }
    .hamburger.active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }

    /* MOBILE */

    .nav-menu{
        position: fixed;
        left: -100%;
        top: 70px;
        gap: 0;
        flex-direction: column;
        background-color: #f8bdbd;
        width: 100%;
        text-align: center;
        transition: 0.3s;
    }

    .nav-item {
        margin: 16px 0;
    }
    .nav-menu.active {
        left: 0;
    }
}

/* FULL WEBSITE REPONISEVE */
@media only screen and (max-width: 768px) {
    .hero-banner {
      flex-direction: column;
      text-align: center;
    }
  
    .hero-image img {
      width: 150px;
    }
  
    .nav-menu {
      flex-direction: column;
      gap: 20px;
    }
  }
  

/* BANNER */

.hero-banner {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 40px;
    margin-bottom: 40px;
    margin: 10;
    padding: 20px;
    background-color: #f7d7ba;
}

.hero-name {
    display: flex;
    align-items: center;
    flex-basis: 10;
    font-family: "Brush Script", cursive;
    font-size: 50px;
    font-weight: 100; 
    margin: 0;
}

.hero-description {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 14px;
    color: #333;
    margin-top: 10px;
    line-height: 1.5;
}

img{
    width: 200px;
    height: auto; 
    
}

* {box-sizing:border-box}

/* Slideshow container */

.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

.slide-img {
    width: 300px;
    height: 300px;
    object-fit: cover;
  }  

.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

/* FOOTEr */
  footer {
    text-align: center;
    padding: 3px;
    background-color: #f8bdbd;
    color: white;
  }

/* MENU TAB */

.Menu {
  margin-top: 40px; 
}

.Menu-title {
  text-align: center;
  color: #d95f76;
  background-color: #fff1e6;
  font-family: 'Comfortaa', cursive;
  padding: 2em 1em;
  max-width: 800px;
  margin: 0 auto 3em auto;
  border-radius: 20px;
  box-shadow: 0 5px 20px rgba(0,0,0,0.1);
  line-height: 1.8;
}

.menu-page {
  background-color: #fff1e6;
  font-family: 'Comfortaa', cursive;
  padding: 2em 1em;
}


.food-card {
    text-align: center; /* for the button */
    background-color: #fff1e6;;
    border: 1px solid #e0e0e0;
    border-radius: 12px;
    padding: 2em 1em;;
    max-width: 800px;
    margin: 0 auto 3em auto;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);
    transition: transform 0.2s;
    font-family: 'Comfortaa', cursive;
  }
  
  .food-card:hover {
    transform: scale(1.02);
  }
  
  .food-names {
    font-weight: bold;
    font-size: 1.1rem;
    margin-bottom: 0.3em;
    text-align: center;
  }
  
  .food-description {
    font-size: 0.95rem;
    text-align: center;
    color: #555;
  }
  
  .menu-category {
    font-size: 1.5rem;
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 1rem;
    font-family: 'Comfortaa', cursive;
  }
  
  .drinks-section {
    text-align: center;
    margin-bottom: 2em;
  }
  
  .drink-columns {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 2rem;
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 2rem;
    flex-wrap: wrap;
  }
  
  .drink-column {
    flex: 1;
    min-width: 280px;
  }
  
  .sub-category {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 1rem;
    text-align: center;
    font-family: 'Comfortaa', cursive;
  }

  .add-to-cart-button{
    text-align: center;
    padding: 10px 20px;
    background-color: #f8bdbd;
    border: none;
    border-radius: 10px;
    font-family: 'Comfortaa', cursive;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }

  .add-to-cart-button:hover {
    background-color: #f3a3a3;
  }

  .Cart-section {
    background-color: #fff1e6;
    font-family: 'Comfortaa', cursive;
    max-width: 800px;
    margin: 3em auto;
    padding: 2em;
    border-radius: 20px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
  }
  
  .section-cart-header {
    font-size: 2rem;
    text-align: center;
    margin-bottom: 1em;
    color: #d95f76;
  }
  
  .cart-column {
    display: flex;
    align-items: center;
    border-bottom: 1px solid black;
    margin-right: 1.5em;
    padding-bottom: 10px;
    margin-top: 10px;
}

.cart-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em 0;
  border-bottom: 1px solid #ddd;
}
.cart-item,
.cart-price,
.cart-quantity {
  font-size: 1.1rem;
  color: #333;
}

.cart-total {
  text-align: right;
  margin-top: 2em;
  font-size: 1.2rem;
  color: #333;
}
.cart-total-price {
  font-weight: bold;
  color: #000;
  margin-left: 1em;
}

.btn-purchase {
  display: block;
  margin: 2em auto 0 auto;
  padding: 10px 25px;
  font-size: 1.2rem;
  background-color: #f8bdbd;
  border: none;
  border-radius: 12px;
  font-family: 'Comfortaa', cursive;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn-purchase:hover {
  background-color: #f3a3a3;
}

  /* ABOUT TAB */
  .about-section {
    background-color: #fff1e6;
    font-family: 'Comfortaa', cursive;
    max-width: 800px;
    margin: 2em auto;
    padding: 2em;
    border-radius: 20px;
    box-shadow: 0 5px 20px rgba(0,0,0,0.1);
    line-height: 1.8;
    color: #333;
  }
  
  .about-section h2 {
    text-align: center;
    color: #d95f76;
    font-size: 2em;
    margin-bottom: 1em;
  }
  
  .about-section p {
    margin-bottom: 1.5em;
  }
  
  strong {
    color: #c94c4c;
  }

  .contact-page {
    background-color: #fff1e6;
    font-family: 'Comfortaa', cursive;
    padding: 2em 1em;
  }
  
  .contact-form-section,
  .map-section {
    max-width: 800px;
    margin: 0 auto 3em auto;
    padding: 2em;
    background: white;
    border-radius: 20px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
  }
  
  .contact-form-section h2,
  .map-section h2 {
    text-align: center;
    color: #d95f76;
    font-size: 2em;
    margin-bottom: 1em;
  }
  
  .contact-form {
    display: flex;
    flex-direction: column;
    gap: 1em;
  }
  
  .contact-form input,
  .contact-form textarea {
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #ccc;
    font-family: 'Josefin Sans', sans-serif;
  }
  
  .contact-form button {
    align-self: center;
    padding: 10px 20px;
    background-color: #f8bdbd;
    border: none;
    border-radius: 10px;
    font-family: 'Comfortaa', cursive;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .contact-form button:hover {
    background-color: #f3a3a3;
  }
  
  .map-section iframe {
    display: block;
    margin: 0 auto;
    width: 100%;
    max-width: 100%;
    border-radius: 12px;
  }
  
  /* CONTACT PAGE */

  .contact-page {
    background-color: #f4f4ca;;
    font-family: 'Comfortaa', cursive;
    padding: 2em 1em;
  }
  
  .contact-form-section,
  .map-section {
    max-width: 800px;
    margin: 0 auto 3em auto;
    padding: 2em;
    background: #fff1e6;;
    border-radius: 20px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
  }
  
  .contact-form-section h2,
  .map-section h2 {
    text-align: center;
    color: #d95f76;
    font-size: 2em;
    margin-bottom: 1em;
  }
  
  .contact-form {
    display: flex;
    flex-direction: column;
    gap: 1em;
  }
  
  .contact-form input,
  .contact-form textarea {
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #ccc;
    font-family: 'Josefin Sans', sans-serif;
  }
  
  .contact-form button {
    align-self: center;
    padding: 10px 20px;
    background-color: #f8bdbd;
    border: none;
    border-radius: 10px;
    font-family: 'Comfortaa', cursive;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .contact-form button:hover {
    background-color: #f3a3a3;
  }
  
  .map-section iframe {
    display: block;
    margin: 0 auto;
    width: 100%;
    max-width: 100%;
    border-radius: 12px;
  }
  
  